@import "card.css";
@import "variables.css";


.background-principale{
    background-color: var(--ms-primary-color);
}

.background-secondario{
    background-color: var(--ms-secondary-color);
}

.background-pre-footer{
    background-color: var(--ms-primary-color-light);
}

.background-footer{
    background-color: var(--ms-primary-color);
}