@import "card.css";
@import "variables.css";
@import "separator.css";


.background-principale{
    background-color: var(--ms-primary-color);
}

.background-secondario{
    background-color: var(--ms-secondary-color);
}

.background-pre-footer{
    background-color: var(--ms-primary-color-light);
}

.background-footer{
    background-color: var(--ms-primary-color);
}

.bottone-secondario{
    background-color: var(--ms-secondary-color);
}
.link-secondario{
    color: var(--ms-secondary-color);
    text-decoration: none;
}

header *,
.porfolio ,
.testi *{
    color: white !important;
}

main img{
    width: 30%;
}

.ms-social-icons{
    display: inline-block;
    height: 3.4375rem;
    width: 3.4375rem;
    border-radius: 50%;
    color: white;
    border: .125rem solid white;
    line-height: 3.4375rem;
    text-align: center;
    font-size: 23px;

}